# =========================================
# Archivos compilados de Java
# =========================================
*.class                 # No subir clases compiladas
*.jar                   # Evitar subir JAR generados
*.war                   # Evitar subir WAR generados
*.ear                   # Evitar subir EAR generados

# =========================================
# Directorios y builds
# =========================================
/target/                 # Carpeta de build de Maven
*.log                    # Logs generados por la aplicación
hs_err_pid*              # Logs de crash de la JVM
replay_pid*              # Logs de crash de la JVM

# =========================================
# Archivos de IDE: IntelliJ IDEA
# =========================================
/.idea/                  # Configuración del proyecto local
*.iml                    # Archivos de módulo de IntelliJ
/out/                     # Carpetas de compilación de IntelliJ

# =========================================
# Archivos de IDE: Eclipse
# =========================================
.classpath
.project
.settings/

# =========================================
# Archivos de IDE: NetBeans
# =========================================
/nbproject/private/

# =========================================
# Archivos temporales y OS
# =========================================
*.swp                    # Swap de editores (vim)
*~                       # Backup de editores
.DS_Store                # MacOS
Thumbs.db                # Windows
HELP.md                  # No se sube, no aporta al proyecto
